<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Mandatory Assignment 3</title>
</head>
<body>
    <h1>String Duplication</h1>
    <div id="app">
        <div>
            <div>
                <label for="word">Message:</label>
                <input type="text" v-model="word" placeholder="Type a word" />
           
                <label for="times">How Many:</label>
                <input type="number" v-model="times" placeholder="Type a number" />

                <button class="btn btn-success" v-on:click="repeatNumberOfTimes(word, times)">DO IT</button>
            </div>
            <div>
                <label>Result: </label>
                <b>{{result}}</b>
            </div>

        </div>
    </div>

    <script src="js/index.js"></script>
</body>
</html>